@using PartyGamesSystem.Web.ViewModels
@model IEnumerable<PartyGameViewModel>

@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Create new game", "Create", "ManagePartyGames", new { area = string.Empty }, new { @class = "btn btn-success" })

@foreach (var game in Model)
{
    <div class="panel panel-body">
        @Html.Partial("_PartyGameSingleView", game)
        <div class="text-center">
            @Html.ActionLink("Details", "Details", "ManagePartyGames", new { area = string.Empty, id = game.Id }, new { @class = "btn btn-info btn-sm" })
            @Html.ActionLink("Edit", "Edit", "ManagePartyGames", new { area = string.Empty, id = game.Id }, new { @class = "btn btn-primary btn-sm" })
            @Html.ActionLink("Delete", "Delete", "ManagePartyGames", new { area = string.Empty, id = game.Id }, new { @class = "btn btn-danger btn-sm" })
        </div>
    </div>
}

