@using PartyGamesSystem.Web.ViewModels
@model PartyGameViewModel
<div class="panel panel-body">
    <div>@Model.Title</div>
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" alt="no-image"/>
        </div>
        <div class="col-md-8">
            <div>Category: @Model.CategoryName</div>
            <div>Necessery Items: @Model.NecessaryItems</div>
            <div>Suitable for: @Model.MinPlayingPeople - @Model.MaxPlayingPeople people</div>
            <div>Description: @(@Model.Description.Length>200?@Model.Description.Substring(0,200):@Model.Description)</div>
        </div>
    </div>
</div>
