@using PartyGamesSystem.Web.Areas.Administration.AdminViewModels
@model AdminPartyGameViewModel

@{
    ViewBag.Title = "Add";
}

@using (Html.BeginForm("Add", "AdminPartyGames", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <h4>Add new party game</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(pg => pg.CategoryId, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.DropDownListFor(pg => pg.CategoryId, Model.Categories, new { @class = "form-control form-control-sm" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(pg => pg.Title, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(pg => pg.Title, new { @class = "form-control form-control-sm" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(pg => pg.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(pg => pg.Description, new { @class = "form-control form-control-sm", @rows = "5" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(pg => pg.NecessaryItems, "Necessary Items", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(pg => pg.NecessaryItems, new { @class = "form-control form-control-sm" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(pg => pg.MinPlayingPeople, "Minimal playing people", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(pg => pg.MinPlayingPeople, new { @class = "form-control form-control-sm", @type = "number" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(pg => pg.MaxPlayingPeople, "Maximal playing people", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(pg => pg.MaxPlayingPeople, new { @class = "form-control form-control-sm", @type = "number" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(pg => pg.UploadedImage, "Add image", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(pg => pg.UploadedImage, new { @class = "form-control form-control-sm", @type = "file" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-info" value="Save changes" />
            <a href="~/Administration/AdminPartyGames/Index" class="btn btn-primary">Cancel</a>
        </div>
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval");
}


