@using PartyGamesSystem.Web.Areas.Administration.AdminViewModels
@model AdminPartyGameViewModel

@{
    ViewBag.Title = "Hard Delete";
}

@using (Html.BeginForm("HardDelete", "AdminPartyGames", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(pg => pg.CreatedOn)

    <h4>Total delete party game "@Model.Title"</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(pg => pg.CategoryName, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(pg => pg.CategoryName, new { @class = "form-control form-control-sm", @readonly = true })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(pg => pg.Title, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(pg => pg.Title, new { @class = "form-control form-control-sm", @readonly = true })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(pg => pg.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(pg => pg.Description, new { @class = "form-control form-control-sm", @rows = "5", @readonly = true })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(pg => pg.NecessaryItems, "Necessary Items", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(pg => pg.NecessaryItems, new { @class = "form-control form-control-sm", @readonly = true })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(pg => pg.MinPlayingPeople, "Minimal playing people", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(pg => pg.MinPlayingPeople, new { @class = "form-control form-control-sm", @type = "number", @readonly = true })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(pg => pg.MaxPlayingPeople, "Maximal playing people", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(pg => pg.MaxPlayingPeople, new { @class = "form-control form-control-sm", @type = "number", @readonly = true })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="currentImage">Current image</label>
        <div class="col-md-10" id="currentImage">
            @if (Model.ImageId != null)
            {
                <img style="float:left" src="@Url.Action("Image", "Images", new { area = string.Empty, id = Model.ImageId.Value })" alt="@Model.Title image" class="img-responsive form-control-sm" />
            }
            else
            {
                <span class="form-control form-control-sm">No image</span>
            }
        </div>
    </div>
    <h2 class="text-danger">Are you sure you want to delete this game permanently (not recomended)?</h2>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-danger btn-sm" value="Total Delete" />
            <a href="~/Administration/AdminPartyGames/Index" class="btn btn-primary btn-lg">Cancel</a>
        </div>
    </div>
}

