<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <title>Funny Party Games - @ViewBag.Title</title>
    @{
    //TODO:correct bundles
    }
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("styles", required: false)
    <script type="text/javascript">
        function addEmptyComment() {
            $('#last-comment').remove();
            var lastComment = $('.comment').last();
            $('<div/>', {
                id: 'last-comment',
                class: "panel panel-party-games"
            }).insertAfter(lastComment);
            $('#comment-content').val('');
        }
    </script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Funny Party Games", "Index", "Home", new { area = string.Empty }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = string.Empty }, null)</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = string.Empty }, null)</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = string.Empty }, null)</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole(GlobalConstants.AdminRole))
                        {
                            <li>@Html.ActionLink("AdminPartyGames", "Index", "AdminPartyGames", new { area = "Administration" }, null)</li>
                            <li>@Html.ActionLink("AdminCategories", "Index", "AdminCategories", new { area = "Administration" }, null)</li>
                        }

                        else
                        {
                            <li>@Html.ActionLink("Manage my games", "Index", "ManagePartyGames", new { area = string.Empty }, null)</li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <small>Powered By Dragan Draganov | e-mail: dragan.mdraganov@yahoo.com | Copyright &copy; @DateTime.Now.Year</small>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/gridmvc")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).on('click', '.showRating', function () {
            $(this).nextAll(".rating-panel").find('.rating-star').removeClass('filled selected');
            $(this).nextAll(".rating-panel").toggle();
        })

        $(document).on('mouseenter', ".rating-star", function () {
            $(this).prevUntil(".rating-area").addClass('filled');
            $(this).addClass('filled');
        })
        $(document).on('mouseleave', ".rating-star", function () {
            if ($(this).parent().find(".rating-star").hasClass('selected')) {
                var selected = $(this).parent().find('.selected').first();
                selected.nextUntil('input :submit').removeClass('filled')
            }
            else {
                $(this).prevUntil(".rating-area").removeClass('filled');
                $(this).removeClass('filled');
            }
        })
        $(document).on('click', ".rating-star", function () {
            $(this).parent().find(".rating-star").removeClass('filled selected');
            $(this).prevUntil(".rating-area").addClass('filled');
            $(this).addClass('filled selected');
            var radioChecked = $(this).next();
            radioChecked.attr('checked', true);
            var $selectedStar = $(this).parent().find(".selected").first().next();
            var $rating = $selectedStar.val();
            $(this).parent().find('#rating-value').val($rating);
        })
        $(document).on('click', '.btn-clear-rating', function () {
            $(this).parent().find('.rating-star').removeClass('filled selected');
        })
       
        $(document).on('click', '#btn-add-comment', function () {
            $('#last-comment').show();
            $('#last-comment').bind('DOMSubtreeModified', function () {
                $(this).removeAttr('id');
                $(this).addClass('comment');
                addEmptyComment();
            })

        })
    </script>
    <script>
    </script>
</body>
</html>
