@using PartyGamesSystem.Web.Helpers
@using PartyGamesSystem.Web.ViewModels
@model PartyGameViewModel
<div class="panel panel-body">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="text-center">@Model.Title.ToUpper()</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4 text-center">
                    @if (Model.ImageId != null)
                    {
                        <img src="@Url.Action("Image", "Images", new { id = Model.ImageId.Value })" alt="@Model.Title image" class="img-responsive form-control-sm" />
                    }
                    else
                    {
                        <span class="form-control form-control-sm">No image</span>
                    }
                    <br />
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="btn btn-warning btn-xs showRating">
                            Rate this game
                        </div>
                        <br />
                        <br />
                        using (Ajax.BeginForm("Vote", "Ratings", new { partyGameId = Model.Id }, null, new { @class = "rating-panel" }))
                        {
                            <div class="rating-area">
                                <label class="rating-star"></label>
                                <input type="radio" name="rating" value="1">
                                <label class="rating-star"></label>
                                <input type="radio" name="rating" value="2">
                                <label class="rating-star"></label>
                                <input type="radio" name="rating" value="3">
                                <label class="rating-star"></label>
                                <input type="radio" name="rating" value="4">
                                <label class="rating-star"></label>
                                <input type="radio" name="rating" value="5">
                            </div>
                            <div class="btn btn-xs btn-default pull-left btn-clear-rating">Clear</div>
                            <input type="submit" value="Rate" class="btn btn-xs btn-success pull-right submit-rating" />
                        }
                    }

                </div>
                <div class="col-md-7">
                    <div class="well row">
                        <div class="col-md-4 text-info">CATEGORY:</div>
                        <div class="col-md-8 text-attention">@Model.CategoryName</div>
                    </div>
                    <div class="well row">
                        <div class="col-md-4 text-info">NECESSARY ITEMS:</div>
                        <div class="col-md-8 text-attention">@Html.ShowNecessaryItemsInIndexView(Model)</div>
                    </div>
                    <div class="well row">
                        <div class="col-md-4 text-info">SUITABLE FOR:</div>
                        <div class="col-md-8 text-attention">@Html.ShowPlayingPeopleInfo(Model)</div>
                    </div>
                    <div class="well row">
                        <div class="col-md-4 text-info">DESCRIPTION:</div>
                        <div class="col-md-8 text-attention">@Html.ShowDescription(Model)</div>
                    </div>
                    <div class="well row">
                        <div class="col-md-4 text-info">AUTHOR:</div>
                        <div class="col-md-8 text-attention">@Model.AuthorName</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            @Html.ActionLink("Details", "Details", "ManagePartyGames", new { area = string.Empty, id = Model.Id }, new { @class = "btn btn-info btn-sm" })
            @if (User.Identity.IsAuthenticated && User.Identity.Name == Model.AuthorName)
            {
                @Html.ActionLink("Edit", "Edit", "ManagePartyGames", new { area = string.Empty, id = Model.Id }, new { @class = "btn btn-primary btn-sm" })
                <span>
                    @Html.ActionLink("Delete", "Delete", "ManagePartyGames", new { area = string.Empty, id = Model.Id }, new { @class = "btn btn-danger btn-sm" })
                </span>
            }
        </div>
        <br />
    </div>
</div>
