@using PartyGamesSystem.Web.ViewModels
@model PartyGameViewModel
<div class="panel panel-body">
    <div class="text-center">@Model.Title</div>
    <div class="row">
        <div class="col-md-4">
            @if (Model.ImageId != null)
            {
                <img style="float:left" src="@Url.Action("Image", "Images", new { id = Model.ImageId.Value })" alt="@Model.Title image" class="img-responsive form-control-sm" />
            }
            else
            {
                <span class="form-control form-control-sm">No image</span>
            }
        </div>
        <div class="col-md-8">
            <div>Category: @Model.CategoryName</div>
            <div>Necessery Items: @Model.NecessaryItems</div>
            <div>Suitable for: @Model.MinPlayingPeople - @Model.MaxPlayingPeople people</div>
            <div>Description: @(@Model.Description.Length>200?@Model.Description.Substring(0,200):@Model.Description)</div>
        </div>
    </div>
</div>
